db
out
dist
.next
build
public
.cache
.turbo
.vercel
coverage
generated
.docusaurus
node_modules

*.lock
*.log
*.hbs

knowledge/slides/**/*.html

.gitignore
.npmignore
.prettierignore
.DS_Store
.eslintignore
.npmrc

**/debug/*
